#rightcontent{
  background-color: rosybrown;
  width:500px;
  height: 773px;
  //height: 100px;
  color:black;
  //margin-left: 2px;
  border-left: solid 0px;
}
.example-stretched-tabs {
  width: 690px;
  height: 220px;
  background-color: lightgray;
  border: solid 1px rosybrown;
  color:white;
  margin-left: 2px;

}
